@font-face {
    font-family: 'Hind Vadodara';
    src: url('./fonts/HindVadodara-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
    background-color: #e8f1f9;
}

.rosa{
    font-size: 19px;
    letter-spacing: 1px;
}
.secop{
    font-size: 14px !important;
}

.hvb:hover{
    background-color: white;
    color: black !important;
}

.num{
    font-size: 12px;
}

.colorTitol{
    color: #6C757D !important;
}

.textAct{
    font-size: 12px;
}

@media (max-width: 1200px) { 
    .pfp{
        width: 7.5em;
        margin-bottom: 1rem;
    }
 }

 @media (min-width :1200px){
    .pfp{
        width: 9.5em;
        margin-bottom: 0;
    }
 }

 @media (min-width :1400px){
    .pfp{
        width: 11em;
        margin-bottom: 0;
    }
 }