@font-face {
    font-family: 'Hind Vadodara';
    src: url('fonts/hind-vadodara/HindVadodara-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
    background-color: #e8f1f9;
}
