:root {
  --blauOscur: #001F4A;
  --blauClar: #569ABE;
  --roig: #C83F3F;
  --roigOscur:#a03131;
  --blanc: #FFFFFF;
}

.bg-blauOscur {
  background-color: var(--blauOscur);
}

.bg-blauClar {
  background-color: var(--blauClar);
}

.App {
  font-family: Arial, sans-serif;
}

h1,h2 {
  text-align: center;
  margin-top: 20px;
  color: var(--blauOscur) !important;
}

/*botons corporatius*/
.btn-blau{
  background-color: var(--blauClar);
  color: var(--blanc);
  border: none;
}
.btn-roig{
  background-color: var(--roig);
  color: var(--blanc);
  border:none;
}
.btn-blau:hover{
  background-color: var(--blauOscur);
  color: var(--blanc);
}
.btn-roig:hover{
  background-color: var(--roigOscur);
}
.logo{
  width: 9rem;
  max-width: 100%;
  height: auto;
}

.leaflet-container{
  height: 250px;
  width: auto;
  position: relative;
}


/*Navbar */
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

