/*General*/
 .pTop{
    padding-top: 1rem;
 }
/*r1*/
.roig{
    background-color: red;
    height: 10rem;

}
/*r2*/
.r2{

}
.orange{
    background-color: orange;
    height: 5rem;
    border: 1px solid black;
}

.blue{
    background-color: blue;
}
/*r3*/
.r3{

}
.verd{
    height: 3rem;
    background-color: greenyellow;
    border: 1px solid rgb(0, 0, 0);
}

/*r4*/
.r4{

}
.groc{
    height: 5rem;
    background-color: yellow;
    border: 1px solid black;
}
/*r5*/
.r5{

}

.blauClar{
    height: 5rem;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 10px;
    width:50%
}
/*r6*/
.r6{

}

.negre{
    height: 8rem;
    background-color: black;
    border: 1px solid white;
    padding: 1rem;
}

/*Footer*/
.footer{
    background-color: dodgerblue;
    padding: 1rem;
}
.marro{
    height: 4rem;
    background-color: brown;
    border: 1px solid white;
    justify-content: center;
    padding: 1rem;

}

/*copy*/
.violeta{
    background-color: blueviolet;
}

/*Movil*/
@media only screen and (max-width: 767px) {
    .orange{
        background-color: blue;
    }
    .blauClar{
        width: auto;
    }
  }