:root {
    --blauFosc: #222831;
    --blauClar: #30475E;
    --taronja: #FF7F50;
    --taronjaOG: #FF7000;
    --gris: #E9ECEF;
    --grisOscur: #B9BBBD;
}
body{
    color: var(--blauClar) !important;
    font-family: 'Noto Serif', serif !important;
}
.fonsGris{
    background-color: var(--gris);
}

.botoTaronja{
    background-color: var(--taronja);
}

.botoTaronja:hover{
    background-color: var(--blauFosc);
}
.logo-header{
    width: 12em;
}

.border-blau{
    color: var(--blauClar) !important;
}

.btn-header:hover{
    background-color: var(--blauClar) !important;
    color: white !important;
}

/*Movil*/
@media only screen and (max-width: 767px) {
    .logo-header{
        width: 5rem;
    }
  }