/*COLORS GENERALS
    Taronja: #FF7000
    Blau Oscur: #222831
    Blau Clar: #30475E
    Gris: #ECECEC
*/
.blauOscur{
    color:color #222831;
}

.blauClar{
    color:color #30475E;
}

.taronja{
    color:color #FF7000;
}

.gris{
    color:color #ECECEC;
}

.demoContainer #experiencia {
    border: 2px solid black;
    background-color: #FF7000;
    height: 2.3em;
    width: 70%;
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 0px 0px black;
}


.casosExitFoto{
    width: 100%;
}